.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
}

.cover {
  position: relative;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  margin-right: 1rem;
}

.page {
  position: relative;
}

.prevPageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  opacity: 0;
  transform-origin: center left;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.currentPageWrapper {
  transform-origin: center left;
  transform-style: preserve-3d;
  perspective: 2000px;
}

.nextPageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flippingNext {
  animation: flipNext 0.3s forwards;
}

.flippingPrev {
  animation: flipPrev 0.3s forwards;
}

/* stylelint-disable-next-line keyframes-name-pattern -- ゆるして */
@keyframes flipNext {
  from {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0deg) rotateZ(0deg);
  }

  to {
    visibility: hidden;
    opacity: 0;
    transform: rotateY(-30deg) rotateZ(-5deg);
  }
}

/* stylelint-disable-next-line keyframes-name-pattern -- ゆるして2 */
@keyframes flipPrev {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: rotateY(-30deg) rotateZ(-5deg);
  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0deg) rotateZ(0deg);
  }
}

.textImageWrapper {
  position: relative;
  padding: 0.75rem 0.5rem;
  background-color: white;
  box-shadow:
    0 1px 3px rgba(0 0 0 / 10%),
    0 1px 2px rgba(0 0 0 / 6%);
}

.pageIndicator {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-text-secondary);
}

.newPostPage {
  display: grid;
  place-items: center;
  aspect-ratio: 500 / 780;
}
