.container {
  padding: 20px;
  margin: 0 auto;
}

.dimmed {
  margin-top: -10px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
