.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-gray-50);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  width: 100%;
  max-width: 28rem;
}

.title {
  margin-block-start: var(--space-lg);
  font-size: 1.875rem;
  font-weight: 800;
  line-height: 2.25rem;
  color: var(--color-text-primary);
  text-align: center;
}
